@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto+Slab');

body {
    font-family: 'Roboto Slab', serif;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

h1,h2,h3,h4 {
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

tt, code, pre, sourceCode {
    font-family: 'Fira Mono', monospace;
}

.exercise {
    background: #F9EFAB;
}

.note {
    background-color: #A2C8FC;
}

.diversion {
    background-color: #EBFFF0;
}
